{# gestion_stages_univ/internships/templates/registration/password_reset_confirm.html #}
{% extends 'internships/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Définir un Nouveau Mot de Passe{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Définir un Nouveau Mot de Passe</h2>
            </div>
            <div class="card-body">
                {% if validlink %} {# Vérifie si le lien de réinitialisation est valide #}
                    <p>Veuillez entrer votre nouveau mot de passe.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Changer mon mot de passe</button>
                    </form>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        Le lien de réinitialisation du mot de passe n'est pas valide, peut-être parce qu'il a déjà été utilisé. Veuillez demander une nouvelle réinitialisation de mot de passe.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}