{# gestion_stages_univ/internships/templates/registration/password_reset_complete.html #}
{% extends 'internships/base.html' %}

{% block title %}Réinitialisation Complète{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Mot de passe changé !</h4>
            <p>Votre mot de passe a été défini. Vous pouvez maintenant vous connecter.</p>
        </div>
        <p><a href="{% url 'login' %}">Se connecter maintenant</a></p>
    </div>
</div>
{% endblock %}