{# gestion_stages_univ/internships/templates/registration/password_change_done.html #}
{% extends 'internships/base.html' %}

{% block title %}Mot de passe Changé{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Mot de passe Changé !</h4>
            <p>Votre mot de passe a été changé avec succès.</p>
        </div>
        <p><a href="{% url 'home' %}">Retour à l'accueil</a></p> {# Adapter l'URL de retour #}
    </div>
</div>
{% endblock %}