/* gestion_stages_univ/internships/static/internships/css/style.css */

/* Ajoutez ici vos styles CSS personnalisés */
/* Par exemple : */

/* body {
    padding-top: 60px; /* Ajustement si vous avez une barre de navigation fixe en haut */
/* } */

/* .card {
    margin-bottom: 20px;
} */

/* Styles spécifiques pour les modales si nécessaire */
/* .modal-header {
    background-color: #f8f9fa;
} */