{# gestion_stages_univ/internships/templates/internships/partials/form_etudiant.html #}
{% load crispy_forms_tags %}

<form method="post" action="{{ request.path }}">
    {% csrf_token %}

    {% comment %}
    Afficher les champs du formulaire StudentForm.
    password_initial sera requis seulement à la création (géré dans forms.py)
    Le matricule n'est pas affiché car il est généré.
    {% endcomment %}

    {{ form|crispy }}

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>